fastapi==0.79.1
uvicorn
python-multipart==0.0.5
regex==2021.11.10
pyfiglet
pyyaml
aiofiles
pytest==6.2.5
aiosqlite==0.17.0 
typing_extensions==4.5.0
fastapi-users[sqlalchemy,oauth]==10.4
httpx
httpx-oauth
ijson
nltk