<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="row justify-content-center col-lg-6">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <!--div class="card-header bg-primary">
          <div class="app-brand">
            <a href="sign-in.html">
              <img src="images/logo-300x290.png" width="60" height="60"/>

              <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33"
                viewBox="0 0 30 33">
                <g fill="none" fill-rule="evenodd">
                  <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                  <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                </g>
              </svg>

              <span class="brand-name">KISH</span>
            </a>
          </div>
        </div-->

        <div class="card-body p-5">
          <h4 class="text-dark mb-5">Enter a new password</h4>
          
          <form id="forgot-pwd-form">
            <!--div class="d-flex my-2 justify-content-between">
              <p>Set your new password here:</p>
            </div-->

            <div id="div-password" class="form-group col-md-12 ">
                <input type="password" class="form-control input-lg {{is_password_valid ? 'is-valid' : ''}} {{is_password_invalid ? 'is-invalid' : ''}}" id="password" name="password" [(ngModel)]="password" placeholder="Password">
                <div class="invalid-feedback" *ngIf="empty_password">Please enter a password</div>
                <div class="invalid-feedback" *ngIf="bad_password">Password must have at least 8 characters</div>
            </div>

            <div id="div-cpassword" class="form-group col-md-12 ">
                <input type="password" class="form-control input-lg {{is_cpassword_valid ? 'is-valid' : ''}} {{is_cpassword_invalid ? 'is-invalid' : ''}}" id="password" name="cpassword" [(ngModel)]="cpassword" placeholder="Password">
                <div class="invalid-feedback" *ngIf="empty_cpassword">Please enter a confimation password</div>
                <div class="invalid-feedback" *ngIf="bad_cpassword">Password must have at least 8 characters</div>
                <div class="invalid-feedback" *ngIf="passwords_not_match">Password and confirmation password do not match</div>
            </div>

            <!--div class="row col-md-12">
              <div id="div-password" class="form-group mb-4 col-md-12">
                <label for="newPassword">New password:</label>
                <input type="password" class="form-control input-lg" id="newPassword">
              </div>
            </div-->

            <!--div class="row col-md-12">
              <div id="div-cpassword" class="form-group mb-4 col-md-12">
                <label for="conPassword">Confirm new password:</label>
                <input type="password" class="form-control input-lg" id="conPassword">
              </div>
            </div-->

            <div class="row py-4">
              <div class="col-md-12">

                <div id="div-submit">
                  <button type="submit" id="new-pwd-button" class="btn btn-lg btn-primary btn-block mb-4" (click)="newPwd()">Set new password</button>
                  <div class="invalid-feedback" 
                       style="color:red; display:inline;"
                       *ngIf="submit_invalid">New password rejected: <br/>{{ submit_message }}</div>
                  <div class="valid-feedback" 
                       style="color:green; display:inline;"
                       *ngIf="submit_invalid">Your password is updated !<br/> &nbsp;</div>
                  <div class="valid-feedback" 
                       style="color:green; display:inline;"
                       *ngIf="submit_invalid"><p>Go to: <a routerLink="/sign-in">Sign-in</a></p></div>
                </div>

                <!--div id="div-submit">
                  <button type="submit" id="new-pwd-button" class="btn btn-lg btn-primary btn-block mb-4">Set new password</button>
                </div-->
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
