<div id="annotation-view" class="col-lg-11 col-xl-12" >
    <div class="row" style="height: 50px;" >
      <div id="annotation-task-info" class="pb-5" style="width:100%;"></div>
    </div>
    <div class="row">
      <div id="annotation-panel" style="width:100%;">
        <div class="row">
          <div id="annotation-doc-view" class="col-8 border pt-3 pb-3"></div>
          <div id="annotation-val-view" class="col-4 border d-flex flex-column" style="position:relative;">
            <div class="p-2 align-items-top" style="width: 100%; min-height: 100px;">
              <div id="annotation-val-area" class="pt-2 w-100"></div>
            </div>
            <div id="annotation-paging" class="container-fluid pb-2 justify-content-center mx-auto" style="align-items: center; justify-content: center;">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>