<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-10">
      <div class="card">
        <!--div class="card-header bg-primary">
          <div class="app-brand">
            <a href="sign-in.html">
              <img src="images/logo-300x290.png" width="60" height="60"/>

              <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33"
                viewBox="0 0 30 33">
                <g fill="none" fill-rule="evenodd">
                  <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                  <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                </g>
              </svg>

              <span class="brand-name">KISH</span>
            </a>
          </div>
        </div-->

        <div class="card-body p-5">
          <h4 class="text-dark mb-5">Forgot Password?</h4>
          
          <form id="forgot-pwd-form">
            <div class="d-flex my-2 justify-content-between">
              <p>Enter your registered email ID to reset your password</p>
            </div>
            <div class="row py-5">
              <div id="div-email" class="form-group col-md-12 mb-4">
                <input type="email" class="form-control input-lg {{is_email_valid ? 'is-valid' : ''}} {{is_email_invalid ? 'is-invalid' : ''}}" id="email" name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Email">
                <div class="invalid-feedback" *ngIf="empty_email">Please enter an email</div>
                <div class="invalid-feedback" *ngIf="bad_email">It does not look like an email</div>
              </div>

              <div class="col-md-12">
                <div id="div-submit">
                  <button type="submit" id="reset-pwd-button" class="btn btn-lg btn-primary btn-block mb-4" (click)="resetPwd()">Reset Password</button>
                  <div class="invalid-feedback" 
                       style="color:red; display:inline;"
                       *ngIf="submit_invalid">Error user email:: <br/>{{ submit_message }}</div>
                  <div class="valid-feedback" 
                       style="color:green; display:inline;"
                       *ngIf="submit_valid"><b>Password reset: Check your email !</b><br/> &nbsp;</div>
                </div>

                <p class="text-dark">Don't have an account yet ?
                  <a class="text-blue" routerLink="/sign-up">Sign Up</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
