<div class="content d-flex justify-content-center">
    <div id="my-task-view" class="col-lg-10 col-xl-11">
        <div class="row border">
            <p style="padding-left:13px;padding-top:13px;">Active tasks</p>
            <table id="active-task-view-table" class="table table-borderless" style="width:100%;table-layout:fixed;"></table>
        </div>
        <div class="row border">
            <p style="padding-left:13px;;padding-top:13px;">Assigned tasks</p>
            <table id="assigned-task-view-table" class="table table-borderless" style="width:100%;table-layout:fixed;"></table>
        </div>
        <div class="row border">
            <p style="padding-left:13px;;padding-top:13px;">Completed tasks</p>
            <table id="completed-task-view-table" class="table table-borderless" style="width:100%;table-layout:fixed;"></table>
        </div>
    </div>
</div>