<div class="content d-flex justify-content-center" style="padding:0px;">
    <div id="my-task-view" class="col-lg-10 col-xl-11">
        <div class="row border">
            <p style="padding-left:13px;padding-top:13px;">Active tasks</p>
            <table id="active-task-view-table" class="table table-borderless" style="width:100%;table-layout:fixed;">
                <ng-container *ngIf="taskProfilesActive.length == 0">
                    <tr>
                        <td>No active task in progress</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="taskProfilesActive.length > 0">
                    <thead>
                        <tr> 
                            <td style="width:15%; font-weight: bold;">Task</td> 
                            <td style="width:10%;">Type</td> 
                            <td style="width:15%;">Dataset</td> 
                            <td style="width:10%;"># documents</td> 
                            <td style="width:7%;"># excerpts</td> 
                            <td style="width:10%;"># completed</td> 
                            <td style="width:10%;">Status</td> 
                            <td style="width:15%;">Assigned to</td> 
                            <td style="width:7%;text-align: right;">Action</td> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasksActive">
                            <td>{{ task?.name }}</td>
                            <td>{{ task?.type }}</td>
                            <td>{{ task?.dataset_name }}</td>
                            <td>{{ task?.nb_documents }}</td>
                            <td>{{ task?.nb_excerpts }}</td>
                            <td>{{ getCompletionNbByLevel(task) }}</td>
                            <td>{{ getTaskStatus(task) }}</td>
                            <td>{{ task?.assigned }}</td>
                            <td style="text-align: right;" *ngIf="task && task['assigned'] && task['assigned'] === userInfo['email']">
                                <span class="clickable" style="color:orange;" 
                                    (click)="unassignTask(task)">
                                    <i class="mdi mdi-minus"></i>
                                </span>
                                &nbsp; 
                                <span class="clickable" style="color:green;" (click)="startAnnotationTask(task)">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && task['assigned'] && task['assigned'] !== userInfo['email']">
                                <span class="clickable" style="color:grey;">
                                    <i class="mdi mdi-minus"></i>
                                </span>
                                 &nbsp;  
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && !task['assigned'] && !isRestrictedTask(task)">
                                <span class="clickable" style="color:green;" (click)="selfAssignTask(task)">
                                    <i class="mdi mdi-plus"></i>
                                </span> 
                                &nbsp; 
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && !task['assigned'] && isRestrictedTask(task)">
                                <span style="color:grey;">
                                    <i class="mdi mdi-plus"></i>
                                </span> 
                                &nbsp; 
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>  
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
        <div class="row border">
            <p style="padding-left:13px;;padding-top:13px;">Assigned tasks</p>
            <table id="assigned-task-view-table" class="table table-borderless" style="width:100%;table-layout:fixed;">
                <ng-container *ngIf="taskProfilesAssigned.length == 0">
                    <tr>
                        <td>No assigned task</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="taskProfilesAssigned.length > 0">
                    <thead>
                        <tr> 
                            <td style="width:15%; font-weight: bold;">Task</td> 
                            <td style="width:10%;">Type</td> 
                            <td style="width:15%;">Dataset</td> 
                            <td style="width:10%;"># documents</td> 
                            <td style="width:7%;"># excerpts</td> 
                            <td style="width:10%;"># completed</td> 
                            <td style="width:10%;">Status</td> 
                            <td style="width:15%;">Assigned to</td> 
                            <td style="width:7%;text-align: right;">Action</td> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasksAssigned">
                            <td>{{ task?.name }}</td>
                            <td>{{ task?.type }}</td>
                            <td>{{ task?.dataset_name }}</td>
                            <td>{{ task?.nb_documents }}</td>
                            <td>{{ task?.nb_excerpts }}</td>
                            <td>{{ getCompletionNbByLevel(task) }}</td>
                            <td>{{ getTaskStatus(task) }}</td>
                            <td>{{ task?.assigned }}</td>
                            <td style="text-align: right;" *ngIf="task && task['assigned'] && task['assigned'] === userInfo['email']">
                                <span class="clickable" style="color:orange;" 
                                    (click)="unassignTask(task)">
                                    <i class="mdi mdi-minus"></i>
                                </span>
                                &nbsp; 
                                <span class="clickable" style="color:green;" (click)="startAnnotationTask(task)">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && task['assigned'] && task['assigned'] !== userInfo['email']">
                                <span class="clickable" style="color:grey;">
                                    <i class="mdi mdi-minus"></i>
                                </span>
                                 &nbsp;  
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && !task['assigned'] && !isRestrictedTask(task)">
                                <span class="clickable" style="color:green;" (click)="selfAssignTask(task)">
                                    <i class="mdi mdi-plus"></i>
                                </span> 
                                &nbsp; 
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && !task['assigned'] && isRestrictedTask(task)">
                                <span style="color:grey;">
                                    <i class="mdi mdi-plus"></i>
                                </span> 
                                &nbsp; 
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td> 
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
        <div class="row border">
            <p style="padding-left:13px;;padding-top:13px;">Completed tasks</p>
            <table id="completed-task-view-table" class="table table-borderless" style="width:100%;table-layout:fixed;">
                <ng-container *ngIf="taskProfilesCompleted.length == 0">
                    <tr>
                        <td>No completed task</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="taskProfilesCompleted.length > 0">
                    <thead>
                        <tr> 
                            <td style="width:15%; font-weight: bold;">Task</td> 
                            <td style="width:10%;">Type</td> 
                            <td style="width:15%;">Dataset</td> 
                            <td style="width:10%;"># documents</td> 
                            <td style="width:7%;"># excerpts</td> 
                            <td style="width:10%;"># completed</td> 
                            <td style="width:10%;">Status</td> 
                            <td style="width:15%;">Assigned to</td> 
                            <td style="width:7%;text-align: right;">Action</td> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasksCompleted">
                            <td>{{ task?.name }}</td>
                            <td>{{ task?.type }}</td>
                            <td>{{ task?.dataset_name }}</td>
                            <td>{{ task?.nb_documents }}</td>
                            <td>{{ task?.nb_excerpts }}</td>
                            <td>{{ getCompletionNbByLevel(task) }}</td>
                            <td><span style="color: green;">{{ getTaskStatus(task) }}</span></td>
                            <td>{{ task?.assigned }}</td>
                            <td style="text-align: right;" *ngIf="task && task['assigned'] && task['assigned'] === userInfo['email']">
                                <span class="clickable" style="color:orange;" 
                                    (click)="unassignTask(task)">
                                    <i class="mdi mdi-minus"></i>
                                </span>
                                &nbsp; 
                                <span class="clickable" style="color:green;" (click)="startAnnotationTask(task)">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && task['assigned'] && task['assigned'] !== userInfo['email']">
                                <span class="clickable" style="color:grey;">
                                    <i class="mdi mdi-minus"></i>
                                </span>
                                 &nbsp;  
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && !task['assigned'] && !isRestrictedTask(task)">
                                <span class="clickable" style="color:green;" (click)="selfAssignTask(task)">
                                    <i class="mdi mdi-plus"></i>
                                </span> 
                                &nbsp; 
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>
                            <td style="text-align: right;" *ngIf="task && !task['assigned'] && isRestrictedTask(task)">
                                <span style="color:grey;">
                                    <i class="mdi mdi-plus"></i>
                                </span> 
                                &nbsp; 
                                <span style="color:grey;">
                                    <i class="mdi mdi-border-color"></i>
                                </span>
                            </td>        
                        </tr>
                    </tbody>
                </ng-container>
            </table>
        </div>
    </div>
</div>